html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #353434;
  font-family: "Merienda", cursive;
  margin: 0;
  padding: 0;
}

/* NAV */

.navbar {
  list-style-type: none;
  margin: 0;
  padding-top: 1%;
  width: 8%;
  background-color: transparent;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.nav li {
  color: rgba(70, 70, 88, 0.541);
}

ul li {
  list-style-type: none;
  padding-bottom: 37%;
}

a {
  color: darkgrey;
  list-style: none;
}

#fourth a {
  color: red;
  text-decoration: none;
}

#fifth a {
  color: red;
  text-decoration: none;
}

/* NAVBAR ICONS */

#onhoverhome {
  visibility: hidden;
}
.home:hover ~ #onhoverhome {
  visibility: visible;
  color: red;
  font-size: 20px;
}

#onhoverabout {
  visibility: hidden;
}

.aboutme:hover ~ #onhoverabout {
  visibility: visible;
  color: red;
  font-size: 20px;
}

#onhovercarousel {
  visibility: hidden;
}
.carousel:hover ~ #onhovercarousel {
  visibility: visible;
  color: red;
  font-size: 20px;

}

#onhoverfcc {
  visibility: hidden;
}
.fcc:hover ~ #onhoverfcc {
  visibility: visible;
  color: red;
  font-size: 20px;
}

#onhovercodewars {
  visibility: hidden;
}
.codewars:hover ~ #onhovercodewars {
  visibility: visible;
  color: red;
  font-size: 20px;
}

#onhovergit {
  visibility: hidden;
}

.github:hover ~ #onhovergit {
  visibility: visible;
  color: red;
  font-size: 20px;
}

/* TITLES */

#first h1 {
  position: absolute;
  padding-left: 36%;
  margin-top: -2%;

}

h1 {
  font-size: 50px;
  vertical-align: middle;
  padding-right: 13%;
  text-align: center;
  display: table-cell;
  color: red;
}

/* BOXES */

#first {
  padding-left: 6.5%;
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  /* background-image: url("https://images.pexels.com/photos/3317038/pexels-photo-3317038.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
  background-image: url(https://images.pexels.com/photos/3318582/pexels-photo-3318582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  text-align: center fixed;
  background-attachment: fixed;
}

#second {
  padding-left: 30%;
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/590697/pexels-photo-590697.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#third {
  padding-left: 6.5%;
  height: 100vh;
  width: 100%;
  /* background-image: url("https://images.pexels.com/photos/1102910/pexels-photo-1102910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* background-image: url("https://images.pexels.com/photos/842339/pexels-photo-842339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-color: grey;
  background-size: cover;
  display: block;
  background-attachment: fixed;
}

#fourth {
  padding-left: 6.5%;
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/167964/pexels-photo-167964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#fifth {
  padding-left: 6.5%;
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

/* AVATAR */

.avatar {
  position: relative;
  top: 50px;
  padding-left: 8%;
  padding-top: 5%;
}

/* ABOUT ME */

p {
  color: white;
  text-align: center;
  text-align: justify;
  font-size: 15px;
  max-width: 800px;
  padding-top: 30;
  position: relative;
}

.textbox {
  background-color: transparent;
  width: 500px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
  margin-top: 0;
}

/* CAROUSEL */
  
.slide {
    position: relative;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: cover;
    display: flex;
    padding: 0 15px;
    margin-right: 10%;
  }
  

.container {
    flex-grow: 1;
    max-width: 1170px;
    margin: auto;
  }
  
.textbox1 {
    position: center;
    background-color: grey;
    width: 800px;
    border: 5px solid black;
    padding: 50px;
    margin-left: 19%;
    text-align: center;
  }
  
.textbox1 img {
    height: 20rem;
  }

/* CONTROLS */

.arrows {
    display: flex;
    justify-content: left;

}


.nextPrevBtn {
    position: inherit;
    z-index:2;
    top: 50%;
    height: 40px;
    width: 60px;
    margin-top: -20px;
    color: white;
    background-color: grey;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
    transition: all 1s ease;
}

.nextPrevBtn:hover {
    background-color: orangered;
}

#playPause a{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  top:20px;
  position: relative;
  display: inline-block;
  z-index: 5;
  text-align: center;
  margin: auto;
  width: 100%;
  cursor: pointer;
  color: grey;
  transition: 0.6s ease;
}

#play {
  opacity: 0;
}

a:hover {
  color: white;
}

/* ANIMATION */

/* Moves slides left */

.moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

/* Move slides right */

.moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

