body {
    background: #f5d9d5;
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
}

/* NAV */

.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 10%;
    width: 8%;
    background-color: transparent;
    height: 100%; 
    position: fixed;
    overflow: auto; 
  }

ul li {
    padding-bottom: 40%;
}

a {
    color: darkgrey;
}

/* NAVBAR ICONS */

#onhoverhome {
    visibility: hidden;
}
.home:hover ~ #onhoverhome{
    visibility: visible;
}

#onhovercarousel {
    visibility: hidden;
}
.carousel:hover ~ #onhovercarousel{
    visibility: visible;
}

#onhoverfcc {
    visibility: hidden;
}
.fcc:hover ~ #onhoverfcc{
    visibility: visible;
    
}

#onhovercodewars {
    visibility: hidden;
}
.codewars:hover ~ #onhovercodewars{
    visibility: visible;
}

/* TITLE */

h1 {
    text-align: center;
}

/* BOXES */

#first {
    padding-left: 6.5%;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    text-align: center fixed;
    background-attachment: fixed
}

#second {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("");
    background-size: cover;
    display: table;
    background-attachment: fixed
}

#third {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("");
    background-size: cover;
    display: table;
    background-attachment: fixed
}

#fourth {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("");
    background-size: cover;
    display: table;
    background-attachment: fixed
}
