html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #353434;
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
}

/* NAV */

.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 1%;
    width: 8%;
    background-color: transparent;
    height: 100%; 
    position: fixed;
    overflow: auto; 
  }

.nav li {
  color: rgba(70, 70, 88, 0.541);
}

ul li {
    list-style-type: none;
    padding-bottom: 37%;
}

a {
    color: darkgrey;
}

/* NAVBAR ICONS */

#onhoverhome {
    visibility: hidden;
}
.home:hover ~ #onhoverhome{
    visibility: visible;
    color: red;
}

#onhoverabout {
    visibility: hidden;
}

.aboutme:hover ~ #onhoverabout {
    visibility: visible;
    color: red;
}

#onhovercarousel {
    visibility: hidden;
}
.carousel:hover ~ #onhovercarousel{
    visibility: visible;
    color: red;
}

#onhoverfcc {
    visibility: hidden;
}
.fcc:hover ~ #onhoverfcc{
    visibility: visible;
    color: red;
    
}

#onhovercodewars {
    visibility: hidden;
}
.codewars:hover ~ #onhovercodewars{
    visibility: visible;
    color: red;
}

#onhovergit {
    visibility: hidden;
}

.github:hover ~ #onhovergit{
    visibility: visible;
    color: red;
}

/* TITLES */



h1 {
    font-size: 50px;
    vertical-align: middle;
    padding-right: 10%;
    text-align: center;
    display: table-cell;
    color: red;

}

/* BOXES */

#first {
    padding-left: 6.5%;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/3318582/pexels-photo-3318582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    text-align: center fixed;
    background-attachment: fixed;

}

#second {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("");
    background-size: cover;
    display: table;
    background-attachment: fixed
}

#third {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/842339/pexels-photo-842339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    display: table;
    background-attachment: fixed
}

#fourth {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/416202/pexels-photo-416202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    display: table;
    background-attachment: fixed
}


#fifth {
    padding-left: 6.5%;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/374918/pexels-photo-374918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    display: table;
    background-attachment: fixed
}

#text1 {
    position: relative;
    top: 50px;
    padding-left: 8%;
    padding-top: 8%;
   /* padding-left: 10%; */
}